.tasks-example h1 {
  background-color: purple
}

section.tasks-list div.task,
section.tasks-list div.task input,
section.tasks-list div.task .input-group-addon {
	border-radius: 0 0 0 0;
}

.tasks.btn-group .btn {
	border-radius: 0;
}
