.tasks-example h1 {
  background-color: purple
}

section.tasks-list div.task,
section.tasks-list div.task input,
section.tasks-list div.task .input-group-addon {
	border-radius: 0 0 0 0;
}

.tasks.btn-group .btn {
	border-radius: 0;
}

span.input-group-addon.hours-spent-addon {
	width: 180px;
}

span.input-group-addon.hours-spent-addon input.hours-spent {
	height: 20px;
	width: 60px;
	font-size: 12px;
}

span.input-group-addon.hours-spent-addon span.hours-spent-label {
	font-weight: bold;
	font-size: 12px;
}

input.task-checkbox {
	margin-right: 20px;
}
